<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Today's Activity</mat-card-title>
  </mat-card-header>
  <mat-card-content>
	  <div class ="column">
    <mat-icon *ngIf = "isChecked == true">directions_run</mat-icon><mat-icon *ngIf = "isChecked == false">accessibility</mat-icon>
    <mat-slide-toggle [(ngModel)] = "isChecked" (change) ="toggle()" >Activity Recording on/off</mat-slide-toggle>
    </div>
	  <div class ="column"><p></p></div>
	  <div class ="column" *ngFor="let item of items">
    <p class = "goalTxt" >{{item.payload.doc.data().Activity}} Active Minutes</p>
		<mat-progress-bar mode="determinate"*ngFor="let item of items" value="{{(item.payload.doc.data().Activity/daily)*100}}"></mat-progress-bar>
	</div>
    
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>