.dgColor {
  background: url("./img/background.svg")no-repeat center center;
  background-size: cover;
}
.lgColor {
  background-color: #404040;
}
.main-div{

  display: flex;
  justify-content: center;
  align-items: center;
}

.top-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}


.column {
  float: left;
  width: 33.33%;
  padding-left: 10px;
  padding-right:10px;
}

.settings{
  padding-left: 10%;

}

.mat-fab{
    height:150px !important;
    width: 150px !important;
    padding-right: 5%;
    background-color: #03DAC5;
    
  }

.mat-icon{
    font-size:50px !important;
    display: flex;
}

.closeButton{
  position: fixed;
  bottom: 10%;
  left: 35%;
  right: 35%;
  height: 10%;
  width: 30%;
  font-size: larger;
  background-color: #03DAC5;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


