.example-card {
	min-width: 20vw;
	min-height: 20vw;
	position: relative;
	top : 200px;
}

.goalTxt{
	color: #03DAC5;
	text-align: center;
	font-size: large;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
	width: 100%;
}

::ng-deep .mat-progress-bar-fill::after {
	background-color: #03DAC5;
	height : 40px !important;
}

::ng-deep .mat-progress-bar-buffer {
	background: #E6E6E6;
	height : 40px !important;
}
