.example-card {
	left: 30px;
	max-width: 90%;
	min-height: 35vh;
	position: relative;

}
.headTxt{
	text-align: center;
	font-size: large;
}

.goalTxt{
	color: rgba(3,218,197,1);
}

.bigTxt{
	font-size: larger;
}

.resultTxt{
	color: White;
	text-align: left;
	font-size: small;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
	width: 100%;
}

::ng-deep .mat-progress-bar-fill::after {
	background-color: #03DAC5;
	height : 40px !important;
}

::ng-deep .mat-progress-bar-buffer {
	background: grey;
	height : 40px !important;
}


.mat-card{
	transition: box-shadow .5s;
}

.mat-fab{
	background-color: #ffd700;
}

.mat-card:hover{
	transition: box-shadow .5s;
    box-shadow: 0 2px 1px -1px rgba(3,218,197,1), 
                0 1px 1px 0 rgba(3,218,197,1), 
				0 1px 3px 0 rgba(3,218,197,1);
}